*{
	margin: 0;
	padding: 0;
	font-family: 'Helvetica', sans-serif;
	box-sizing: border-box;
	}
html{
	scroll-behavior: smooth;
	}
body{
	background: #7ea8be;
	color: #ffffff;
	background-image: url(EconomicDisparityBG.PNG);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	margin-left: 30%;
	}
/*basic info*/
#header{
	width: 100%;
	height: 100vh;
	}
.container{
	padding: 10px 10%;
	}
.header-text{
	margin-top: 8%;
	font-size: 20px;
	margin-left: 20%;
	}
.header-text button{
	font-size: 60px;
	margin-top: 10px;
	color:#9ed894;
	background:#3d405b;
	}
.header-text button:hover {
	color:#ffffff;
	}
.header-text h1{
	font-size: 60px;
	margin-top: 20px;
	}
.header-text h3{
	font-size: 40px;
	margin-top: 20px;
	color:#ffffff;
	}
.header-text h2{
	margin-top: 1%;
	margin-left: 8%;
	font-size: 60px;
	}
.header-text h5{
	margin-top: 1%;
	font-size: 20px;
	color:#9ed894;
	}
.header-logo {
	margin-left: 8%;
	}
.workButton-text button{
	font-size: 50px;
	margin-top: 10px;
	color:#9ed894;
	background:#3d405b;
	}
.workButton-text button:hover {
	color:#ffffff;
	}
.optionButton-text button{
	font-size: 30px;
	margin-top: 10px;
	color:#9ed894;
	background:#3d405b;
	}
.optionButton-text button:hover {
	color:#ffffff;
	}
.graph-text h2{
	margin-top: 1%;
	font-size: 45px;
	color:#3d405b;
	}
a {
	color: #fff;
	}
a:hover {
	color:#CEEEE8;
	}
#myChart {
	max-width: 600px; /* Adjust the width as needed */
	max-height: 400px; /* Adjust the height as needed */
	margin-left: 8%;
	}
#workButton {
	margin-top: 20px;
	}
#balanceDisplay, #clickCountDisplay {
	margin-top: 20px;
	font-size: 1.5em;
	}
